<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Interactive Segmentation</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <div class="app">
    <div class="container">
      <div class="image-box" id="imageBox">
        <div class="placeholder" id="placeholder">
          <i class="icon">🖼️</i>
          <p>Click to insert image</p>
        </div>
        <div class="loading" id="loading" style="display: none;">
          <div class="spinner"></div>
          <p>Loading image...</p>
        </div>
        <!-- Display the checkerboard background when toggling -->
        <div id="checkerboardOverlay" class="checkerboard" style="display: none;"></div>
        <img src="" alt="Selected" id="displayedImage" class="displayed-image" style="display: none;">
        <input type="file" accept="image/*" id="fileInput" style="display: none;">
      </div>

      <div class="buttons">
        <div class="mode-toggle">
          <button class="mode-button active" id="selectModeButton">Select</button>
          <button class="mode-button" id="unselectModeButton">Unselect</button>
        </div>
        <button class="action-button" id="toggleSegmentViewButton">Toggle View</button>
        <button class="action-button" id="undoButton">&#x21A9; Undo</button>
        <button class="action-button" id="downloadButton">&#x1F4E5; Download Mask</button>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>